html, body{
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    cursor: url(../images/cursor_no_plume.gif), default !important;
}

body {
    background-image: url('../images/jetpack_wallpaper.jpg');
    background-color: rgba(245, 245, 245, 0.4);
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}
#jetpack-container{
    height: 100%;
    padding: 70px 0 40px!important;
    position: relative;
}
#jetpack-scrollbox{
    height: 100%;
    overflow-y: auto;
}
#jetpacks{
    padding-top: 30px;
}

.hide{
    display: none;
}

canvas#cursor-plume{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 10000;
    pointer-events: none;
}

.dual-btn-equal-width {
    width: 50%;
}

.box {
    transition: box-shadow .3s;
    width: auto;
    height: auto;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;

}
.box:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    z-index: 2000;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}

#add-jetpack-button-container{
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 100%;
}
#add-jetpack-button-container-2{
    position: relative;
}
#add-jetpack-button{
    border-radius: 50%;
    position: absolute;
    right: -40px;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(193, 193, 193, 0.6);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #9c9c9c;
}
::-webkit-scrollbar-thumb:active {
    background-color: #5e5e5e;
}